/AccessType.java
/ApplicationFactory.java
/ApplicationPackage.java
/ClinicalDecision.java
/IntensiveCareUnit.java
/LaboratoryTest.java
/Patient.java
/Person.java
/StatusType.java
/TestResult.java
/User.java
/UserActionType.java
