/ApplicationFactoryImpl.java
/ApplicationPackageImpl.java
/ClinicalDecisionImpl.java
/IntensiveCareUnitImpl.java
/LaboratoryTestImpl.java
/PatientImpl.java
/PersonImpl.java
/TestResultImpl.java
/UserImpl.java
