/ApplicationAllTests.java
/ApplicationExample.java
/ApplicationTests.java
/ClinicalDecisionTest.java
/IntensiveCareUnitTest.java
/LaboratoryTestTest.java
/PatientTest.java
/PersonTest.java
/TestResultTest.java
/UserTest.java
