/ApplicationEditPlugin.java
/ApplicationItemProviderAdapterFactory.java
/ClinicalDecisionItemProvider.java
/IntensiveCareUnitItemProvider.java
/LaboratoryTestItemProvider.java
/PatientItemProvider.java
/PersonItemProvider.java
/TestResultItemProvider.java
/UserItemProvider.java
