<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated glucose -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="glucose.presentation.GlucoseModelWizardID"
            name="%_UI_GlucoseModelWizard_label"
            class="glucose.presentation.GlucoseModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/GlucoseModelFile.gif">
         <description>%_UI_GlucoseModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated glucose -->
      <editor
            id="glucose.presentation.GlucoseEditorID"
            name="%_UI_GlucoseEditor_label"
            icon="icons/full/obj16/GlucoseModelFile.gif"
            extensions="glucose"
            class="glucose.presentation.GlucoseEditor"
            contributorClass="glucose.presentation.GlucoseActionBarContributor">
      </editor>
   </extension>

</plugin>
