<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.e4.ui.workbench.swt.E4Application"
            name="Generic Core Application">
         <property
               name="appName"
               value="Generic Core Application">
         </property>
         <property
               name="lifeCycleURI"
               value="bundleclass://edu.utah.dcc.e4.application.core/edu.utah.dcc.e4.application.lifecycle.Manager">
         </property>
      </product>
   </extension>

</plugin>
